:root {
  --color-pink-lighter: 251 207 232;
  --color-pink-light: 244 114 182;
  --color-pink: 236 72 153;
  --color-pink-dark: 219 39 119;

  --color-gray-lighter: 163 163 163;
  --color-gray-light: 115 115 115;
  --color-gray: 64 64 64;
  --color-gray-dark: 23 23 23;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  color: white;
  font-size: 1.125rem;
  line-height: 1.75rem;
  background-color: rgb(var(--color-gray-dark));
}

img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@media (min-width: 70em) {
  .wrapper {
    padding-inline: 0;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

button {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: uppercase;
  border-radius: 9999px;
  background: linear-gradient(
    270deg,
    rgb(var(--color-pink)),
    rgb(var(--color-pink-light))
  );
  cursor: pointer;
}

button:hover {
  background: rgb(var(--color-pink-dark));
}

.hero {
  position: relative;
  padding-block: 10rem;
}

.hero > div:first-child {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero > div:first-child::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to top,
    rgb(var(--color-gray-dark)),
    rgb(var(--color-gray-dark) / 0.6),
    rgb(var(--color-gray-dark) / 0)
  );
  z-index: 1;
}

.hero .wrapper {
  text-align: center;
}

.hero .title {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.hero .title span {
  color: rgb(var(--color-pink));
}

.hero .wrapper > div {
  max-width: 37.5rem;
  margin-inline: auto;
}

.hero .wrapper > div div {
  margin-top: 0.75rem;
}

@media (min-width: 36em) {
  .hero .wrapper > div div {
    padding-inline: 3rem;
  }
}

.hero p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.hero button {
  width: 100%;
  margin-top: 1.5rem;
  padding-block: 1.125rem;
}

.about {
  padding-block: 6rem;
}

.about .wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 4rem;
}

@media (min-width: 70em) {
  .about .wrapper {
    flex-direction: row;
    gap: 10rem;
  }
}

.about .wrapper > div:first-child {
  flex: 1 1 0%;
  text-align: center;
}

.about .wrapper > div:first-child div {
  margin-top: 1rem;
}

.about .wrapper > div:first-child div p:last-child {
  margin-top: 0.75rem;
}

@media (min-width: 70em) {
  .about .wrapper > div:first-child {
    text-align: left;
  }
}

.about .wrapper > div:last-child {
  position: relative;
  max-width: 38.4375rem;
  width: 100%;
  aspect-ratio: 205 / 104;
  border-radius: 8px;
  overflow: hidden;
}

.features {
  padding-block-start: 3.5rem;
  padding-block-end: 7rem;
}

.features .wrapper {
  text-align: center;
}

.features .wrapper > div {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 2rem;
}

@media (min-width: 36em) {
  .features .wrapper > div {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 70em) {
  .features .wrapper > div {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.features .wrapper > div div {
  display: grid;
  align-content: end;
  position: relative;
  isolation: isolate;
  height: 18.75rem;
  border-radius: 6px;
  padding: 1.5rem;
  overflow: hidden;
}

.features .wrapper > div div::before {
  content: "";
  position: absolute;
  inset: 0;
  top: auto;
  height: 33.333333%;
  background-image: linear-gradient(
    to top,
    rgb(var(--color-gray-dark) / 0.6),
    rgb(var(--color-gray-dark) / 0)
  );
  z-index: -1;
}

.features .wrapper > div img {
  z-index: -2;
}

.features .wrapper > div .title {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.features .wrapper > div .title span {
  display: block;
  font-weight: 400;
}

.cta {
  padding-block: 6rem;
  background-color: rgb(var(--color-pink-lighter));
}

.cta .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 70em) {
  .cta .wrapper {
    flex-direction: row;
    gap: 16rem;
  }
}

.cta .wrapper p {
  flex: 1 1 0%;
  color: rgb(var(--color-gray));
  font-size: 1rem;
  line-height: 1.5rem;
}

.cta .wrapper span {
  color: rgb(var(--color-gray-dark));
  font-weight: 700;
}

.cta .wrapper button {
  width: 100%;
  padding-block: 1rem;
}

@media (min-width: 36em) {
  .cta .wrapper button {
    width: auto;
    padding-inline: 7rem;
  }
}

.testimonials {
  padding-block: 3.5rem;
  background-color: rgb(var(--color-pink-lighter));
}

.testimonials .wrapper {
  text-align: center;
}

.testimonials .title {
  color: rgb(var(--color-gray-dark));
}

.testimonials .wrapper div {
  max-width: 43.75rem;
  margin-top: 3rem;
  margin-inline: auto;
}

.testimonials .wrapper p {
  color: rgb(var(--color-gray));
}

.testimonials .wrapper p::before {
  content: open-quote;
}

.testimonials .wrapper p::after {
  content: close-quote;
}

.testimonials .wrapper p::before,
.testimonials .wrapper p::after {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.testimonials .wrapper span {
  display: block;
  margin-top: 2rem;
  color: rgb(var(--color-gray-dark));
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.testimonials .wrapper ul {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 3.5rem;
}

.testimonials .wrapper li {
  width: 0.75rem;
  aspect-ratio: 1;
  border-radius: 9999px;
  background-color: rgb(var(--color-gray-lighter));
  cursor: pointer;
}

.testimonials .wrapper li:not(:first-child):hover {
  background-color: rgb(var(--color-gray-light));
}

.testimonials .wrapper li:first-child {
  background-color: rgb(var(--color-pink));
}

footer {
  padding-block: 6rem;
  color: rgb(var(--color-gray-light));
  background-color: rgb(var(--color-pink-lighter));
}

footer .wrapper {
  text-align: center;
}

footer span {
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
}

footer span:last-of-type {
  margin-top: 0.5rem;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

footer li {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

footer li:hover {
  color: rgb(var(--color-gray-dark));
}

footer li ~ * {
  border-left: 1px solid rgb(var(--color-gray-light));
  padding-left: 0.75rem;
}

.attribution {
  text-align: center;
}

.attribution a {
  color: rgb(var(--color-pink-light));
}

.attribution span {
  color: rgb(var(--color-pink));
}
